IBM_Datascience

Introduction

1. Python 
2. R
3. SQL
4. Scala
5. Java
6. Julia

1. Keras 
2. Tensorflow
3. Sickit-learn
4. Pandas
5. Numpy
6. Matplotlib
7. GGplot

+ add
- subtract
* multiply
/ divide 
(2+30)*5

In [2]:
(2+30)*5

160

In [6]:
x = 120
min_to_hour = x/60
print(min_to_hour)

2.0

1. Create a markdown cell with the title of the notebook. (1 pt)

2. Create a markdown cell for an introduction. (1 pt)

3. Create a markdown cell to list data science languages. (3 pts)

4. Create a markdown cell to list data science libraries. (3 pts)

5. Create a markdown cell with a table of Data Science tools. (3 pts)

6. Create a markdown cell introducing arithmetic expression examples. (1 pt)

7. Create a code cell to multiply and add numbers. (2 pts)

8. Create a code cell to convert minutes to hours. (2 pts)

9. Insert a markdown cell to list Objectives. (3 pts)

10. Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

11. Share your notebook through GitHub (3 pts)

12. Take a screenshot of the first page of the notebook. (1 pt)

Kareem Rezk